{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}
活动
{% endblock title %}


{% block breadcrumb %}
  <a class="btn btn-primary" href="{% url 'activity-create' %}">
    <i class="fa fa-plus"></i>
    增加新活动
  </a>
{% endblock breadcrumb %}
  

{% block content %}
  <div class="row">
    <div class="col-sm-12">

        <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>活动名</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>活动描述</th>
            <th>更新和删除</th>
          </tr>
        </thead>
          <tbody>
            {% for object in object_list %}
            <tr>
              <td>{{ object.name }}</td>
              <td>{{ object.start_date }}</td>
              <td>{{ object.end_date }}</td>
              <td>{{ object.comment }}</td>
              <td><a href="{% url 'activity-update' object.id %}"><i
                    class="fa fa-edit"></i></a> <a
                  href="{% url 'activity-delete' object.id %}"><i
                    class="fa fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

    </div>
  </div>


{% endblock content %}

