{% extends 'base.html' %}

{% block title %}购买记录{% endblock title %}


{% block fullcard %}

    <div class="card">
        <div class="card-header">
            {{ purchase.customer.name }}
        </div>
        <div class="card-body">
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                <tr>
                    <th>序号</th>
                    <th>商品名称</th>
                    <th>商品价格</th>
                    <th>剩余数量</th>
                    <th>购买日期</th>
                    <th>生产日期</th>
                    <th>购买数量</th>
                </tr>
                </thead>
                {% for purchase in purchases %}
                    <tbody>
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ purchase.commodity }}</td>
                        <td>{{ purchase.commodity.price }}</td>
                        <td>{{ purchase.commodity.count }}</td>
                        <td>{{ purchase.commodity.purchase_date }}</td>
                        <td>{{ purchase.commodity.production_date }}</td>
                        <td>{{ purchase.num }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>


        </div>
    </div>

{% endblock fullcard %}