{% extends 'base.html' %}

{% block content-header %}

{% if object %}
<div class="card-header">
  <a href="{% url 'supermarket-detail' object.id %}" class="btn btn-tool">
    <i class="fas fa-backward"></i>
  </a>
</div>
{% else %}
<div class="card-header">
  <a href="{% url 'supermarket-list' %}" class="btn btn-tool">
    <i class="fas fa-backward"></i>
  </a>
</div>
{% endif %}

{% endblock content-header %}

{% block title %}

  {% if object %}
    修改超市{{ object }}的信息
  {% else %}
    加入新的超市
  {% endif %}

{% endblock title %}


{% block content %}

<form action="" method="POST">
  {% csrf_token %}

  {% include 'corecode/form_snippet.html' %}

  {% if object %}
    <input type="submit" class="btn btn-primary" value="修改">
  {% else %}
    <input type="submit" class="btn btn-primary" value="加入超市">
  {% endif %}
</form>


{% endblock content %}
