{% extends 'base.html' %}
{% load static %}
<
{% block title %}商品列表{% endblock title %}

{% block breadcrumb %}
    <a class="btn btn-primary" href="{% url 'commodity-create' %}"><i
            class="fas fa-plus"></i> 新商品</a>
{% endblock breadcrumb %}

{% block content %}
    <table id="stafftable" class="table table-bordered table-hover">
        <thead class="thead-light">
        <tr>
            <th>序号</th>
            <th>商品名称</th>
            <th>商品价格</th>
            <th>商品数量</th>
            <th>生产日期</th>
            <th>品类</th>
        </tr>
        </thead>
        <tbody>

        {% for commodity in commodity_list %}
            <tr class='clickable-row' data-href="{% url 'commodity-detail' commodity.id %}">
                <td>{{ forloop.counter }}</td>
                <td>{{ commodity.name }}</td>
                <td>{{ commodity.price }}</td>
                <td>{{ commodity.count }}</td>
                <td>{{ commodity.production_date }}</td>
                {% if commodity.category %}
                    <td>{{ commodity.category }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>


    <div id="container" style="min-width:400px;height:400px"></div>
    <script src="{% static 'dist/js/highcharts.js' %}"></script>
    <script>
    var chart = Highcharts.chart('container', {
	chart: {
		type: 'bar'
	},
	title: {
		text: '各洲不同时间的人口条形图'
	},
	subtitle: {
		text: '数据来源: Wikipedia.org'
	},
	xAxis: {
		categories: [
		    {% for commodity in commodity_list %}
                "{{commodity.name}}",
		    {% endfor %}
        ],
		title: {
			text: null
		}
	},
	yAxis: {
		min: 0,
		title: {
			text: '人口总量 (百万)',
			align: 'high'
		},
		labels: {
			overflow: 'justify'
		}
	},
	tooltip: {
		valueSuffix: ' 百万'
	},
	plotOptions: {
		bar: {
			dataLabels: {
				enabled: true,
				allowOverlap: true // 允许数据标签重叠
			}
		}
	},
	legend: {
		layout: 'vertical',
		align: 'right',
		verticalAlign: 'top',
		x: -40,
		y: 100,
		floating: true,
		borderWidth: 1,
		backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
		shadow: true
	},
	series: [{
		name: '商品价格',
		data:[
		    {% for commodity in commodity_list %}
                {{commodity.price}},
		    {% endfor %}
        ]
	},{
		name: '商品数量',
		data:[
		    {% for commodity in commodity_list %}
                {{commodity.count}},
		    {% endfor %}
        ]
	}]
});
    </script>


{% endblock content %}


{% block morejs %}
    <script>
        $('#stafftable').DataTable({
            select: false,
            language: {
                "decimal": "",//小数的小数位符号  比如“，”作为数字的小数位符号
                "emptyTable": "没有数据哟~~",//没有数据时要显示的字符串
                "info": "当前 _START_ 条到 _END_ 条 共 _TOTAL_ 条",//左下角的信息，变量可以自定义，到官网详细查看
                "infoEmpty": "无记录",//当没有数据时，左下角的信息
                "infoFiltered": "(从 _MAX_ 条记录过滤)",//当表格过滤的时候，将此字符串附加到主要信息
                "infoPostFix": "",//在摘要信息后继续追加的字符串
                "thousands": ",",//千分位分隔符
                "lengthMenu": "每页 _MENU_ 条记录",//用来描述分页长度选项的字符串
                "loadingRecords": "加载中...",//用来描述数据在加载中等待的提示字符串 - 当异步读取数据的时候显示
                "processing": "处理中...",//用来描述加载进度的字符串
                "search": "搜索",//用来描述搜索输入框的字符串
                "zeroRecords": "没有找到",//当没有搜索到结果时，显示
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "尾页"
                }
            }
        });
    </script>

{% endblock morejs %}>
