{% extends 'base.html' %}

{% block content-header %}
{% if object %}
<div class="card-header">
  <a href="{% url 'staff-detail' object.user.id %}" class="btn btn-tool">
    <i class="fas fa-backward"></i>
  </a>
</div>

{% else %}

<div class="card-header">
  <a href="{% url 'staff-list' %}" class="btn btn-tool">
    <i class="fas fa-backward"></i>
  </a>
</div>
{% endif %}
{% endblock content-header %}

{% block title %}

    修改员工的信息

{% endblock title %}


{% block content %}

<form action="" method="POST">
  {% csrf_token %}

  {% include 'corecode/form_snippet.html' %}

    <input type="submit" class="btn btn-primary" value="修改">
</form>


{% endblock content %}
